<mat-tab-group mat-align-tabs="start" style="padding-top: 40px;">
    <mat-tab label="Cadastrados">
        <mat-progress-bar *ngIf="!cli" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="cli" fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">
            <ng-container *ngFor="let clients of clientsNow" style="margin:0.5%">
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span>Nome do Cliente: {{clients.nome}}</span>
                            </p>
                        </div>
                    </mat-card-title>
 
                    <mat-card-content>
                     
                            <div style="display: block">
                                <button mat-raised-button color="warn" (click)="deleteCliente(clients.id)">Deletar</button>
                            </div>
                     
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>

</mat-tab-group>